.card {
  width: 230px;
  height: 160px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  position: relative;
  flex-basis: calc(25% - 40px);
  margin-inline:20px;
  margin-bottom: 41px;
  overflow: hidden;
  .icon {
    position: inherit;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(162, 8, 201);
    opacity: 0.5;
    z-index: 10;
  }

  .background {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 9;
  }
}
