@font-face {
    font-family: "drukwidecyr";
    src: url("../../assets/fonts/drukwidecyr-bold.ttf");
  }

.wrapper_content{
    margin: 12px 36px 65px;
    max-width: 980px;
    .title{
        color: rgb(0, 0, 0);
        font-family: 'drukwidecyr', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 3.5%;
        text-align: center;
        text-transform: uppercase;
    }
    .wrapper_backgrounds{
        margin-top: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-inline: -20px;
    }

    .wrapper_btn{
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}