@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.custom_input {
  width: 500px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid #a208c9;
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}
