@font-face {
  font-family: "drukwidecyr";
  src: url("../../assets/fonts/drukwidecyr-bold.ttf");
}

.wrapper_form {
  align-self: flex-start;
  margin-right: 164px;
  margin-bottom: 136px;

  .wrapper_slaider_regFrom {
    max-width: 40px;
    margin-top: 48px;
    margin-left: auto;
    .points {
      position: relative;
      right: -20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .title_form {
    margin-top: 50px;
    font-family: "drukwidecyr", sans-serif;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    margin-bottom: 73px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  .custom_input {
    width: 500px;
    height: 80px;
    border-radius: 20px;
    border: 2px solid #a208c9;
    color: #9b9b9b;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
  }

  .wrapper_checkboxs {
    display: flex;
    width: 228px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .remember{
    margin-right: auto;
  }

  .wrapper_btns{
    display: flex;
    margin: 85px 0  ;

  }
}
